:root {
  --app-background-color:#f1f3f6;
  --background-calculator:#273344;
  --key:#fff;
  --key-orange:#ff9234;
  --key-gray:#a9adb3;
  .box-shadow{
    box-shadow: inset 10px 10px 6px 0 rgba(60, 66, 78, 0.45), 10px 10px 6px 0 rgba(28, 36, 55, 0.8);
  }
  .pressed{
    box-shadow: 10px 10px 6px 0 rgba(60, 66, 78, 0.45), inset 10px 10px 6px 0 rgba(28, 36, 55, 0.8);
  }

}